In [ ]:
%pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.35)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (71.0.4)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Using cached jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Using cached jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [ ]:
%load_ext sql

In [ ]:
%%sql
sqlite:///employees.db
PRAGMA foreign_keys=ON;

Done.

[]

In [ ]:
%%sql
CREATE TABLE Employees (
  ID INT PRIMARY KEY,
  Name VARCHAR(255),
  ManagerID INT,
  FOREIGN KEY (ManagerID) REFERENCES Employees(ID)
);

 * sqlite:///employees.db
Done.

[]

In [ ]:
%%sql
INSERT INTO Employees (ID, Name, ManagerID)
VALUES (1,
'John Smith'
, 3);

 * sqlite:///employees.db
(sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: INSERT INTO Employees (ID, Name, ManagerID)
VALUES (1,
'John Smith'
, 3);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
%%sql
INSERT INTO Employees (ID, Name, ManagerID)
VALUES (1,'John Smith', 3),
(2,'Jane Doe', 3),
(3,'Bob Johnson', NULL),
(4,'Emily Davis', 1),
(5,'Michael Brown', 2);

 * sqlite:///employees.db
(sqlite3.IntegrityError) UNIQUE constraint failed: Employees.ID
[SQL: INSERT INTO Employees (ID, Name, ManagerID)
VALUES (1,'John Smith', 3),
(2,'Jane Doe', 3),
(3,'Bob Johnson', NULL),
(4,'Emily Davis', 1),
(5,'Michael Brown', 2);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
%%sql
INSERT INTO Employees (ID, Name, ManagerID)
VALUES (1,
'John Doe'
, null);
SELECT * FROM Employees;

 * sqlite:///employees.db
1 rows affected.
Done.

[(1, 'John Doe', None)]

In [ ]:
%%sql
sqlite:///imdb_small_sqlite.db
PRAGMA foreign_keys=ON;

Done.

[]

In [ ]:
%%sql
SELECT * FROM movies WHERE genre IN("ACTION","SCI-FI")

   sqlite:///employees.db
 * sqlite:///imdb_small_sqlite.db
(sqlite3.OperationalError) no such table: movies
[SQL: SELECT * FROM movies WHERE genre IN("ACTION","SCI-FI")]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%ls

employees.db  imdb_small_sqlite.db  sample_data/

In [ ]:
#main idea you can learn sql in a notebook

In [ ]:
# 556

In [ ]:
%%sql
SELECT *
FROM movies_genres mg1 inner join movies_genres mg2
ON mg1.movie_id=mg2.movie_id
WHERE (mg1.genre="Action") AND (mg2.genre="Sci-fi");

   sqlite:///employees.db
 * sqlite:///imdb_small_sqlite.db
(sqlite3.OperationalError) no such table: movies_genres
[SQL: SELECT *
FROM movies_genres mg1 inner join movies_genres mg2
ON mg1.movie_id=mg2.movie_id
WHERE (mg1.genre="Action") AND (mg2.genre="Sci-fi");]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
#